{% extends 'base.html' %}
{{ add_opponent }}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-2 mt-3">
                <div class="list-group">
                    {% if debats.members.count < 2 %}
                    <a href="{% url 'add_opponent' debats.id%}" class="btn btn-outline-primary" aria-current="true">
                        Вступить в дебаты
                    </a>
                    {% else %}
                    <a href="#" class="btn btn-outline-danger" aria-current="true">
                        Выйти
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-8 mt-3 border-content">
                <div class="container g-3">
                    <div class="row" style="border-bottom: 1px solid rgba(39,41,43,0.1);">
                        <div class="col-sm g-0" style="border-right: 1px solid rgba(39,41,43,0.1);">
                            Тема: {{ debats.theme }}<br>
                            Тезис: {{ debats.thesis }}
                        </div>
                        <div class="col-sm">
                            {{ debats.members.all.0 }} VS {{ debats.members.all.1 }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm g-0 mt-3">
                            СООБЩЕНИЯ
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}