{% extends 'base.html' %}
{% block content %}
    <h2 align="center">Debat: {{ debat.id }}</h2>
    {{ form.errors }}
    <form method="post" action="{% url 'edit_debat' debat.id %}" style="padding-left: 28%">
        {% csrf_token %}
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-7">
                    <select class="form-select mb-3" aria-label="Default select example" name="theme-id">
                            <option selected value="{{ debat.theme.id }}">{{ debat.theme.name }}</option>
                            {% for theme in themes %}
                                <option value="{{ theme.id }}">{{ theme.name }}</option>
                            {% endfor %}
                        </select>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Тезис</span>
                        {{ form.thesis }}
                    </div>
                    <div class="mb-3">
                        <ul class="list-group" name="members">
                            {% for member in debat.members.all %}
                            <li class="list-group-item" name="{{ member.id }}">{{ member }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div align="center">
                        <button type="submit" class="btn btn-outline-dark btn-lg mt-3">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}